<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InputGroup @name={{t "component.create-dashboard.name"}} @value={{@options.name}} @helpText={{t "component.create-dashboard.name-help"}} />
    </div>
</Modal::Default>