{{page-title (t "console.account.auth.page-title")}}
<Layout::Section::Header @title={{t "console.account.auth.page-title"}} />

<Layout::Section::Body class="overflow-y-scroll h-full">
    <div class="container mx-auto h-screen">
        <div class="max-w-3xl my-10 mx-auto space-y-6">
            <ContentPanel @title={{t "common.change-password"}} @open={{true}} @wrapperClass="bordered-classic">
                <form id="change-password-form" aria-label="change-password" {{on "submit" (perform this.changePassword)}}>
                    <legend class="mb-3">{{t "common.change-password"}}</legend>
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                        <InputGroup @name={{t "console.account.auth.enter-new-password"}} @type="password" @value={{this.newPassword}} />
                        <InputGroup @name={{t "common.confirm-password"}} @type="password" @value={{this.newConfirmPassword}} />
                    </div>
                    <Button @type="primary" @buttonType="submit" @text={{t "console.account.auth.confirm-change-password"}} @icon="save" {{on "click" (perform this.changePassword)}} />
                </form>
            </ContentPanel>

            {{#if this.isSystemTwoFaEnabled}}
                <ContentPanel @title={{t "console.account.auth.2fa-settings"}} @open={{true}} @wrapperClass="bordered-classic">
                    <div class="mb-3">
                        {{#if this.loadUserTwoFaSettings.isIdle}}
                            <TwoFaSettings @twoFaMethods={{this.methods}} @twoFaSettings={{this.twoFaSettings}} @onTwoFaToggled={{this.onTwoFaToggled}} @onTwoFaMethodSelected={{this.onTwoFaMethodSelected}} />
                        {{else}}
                            <div class="flex items-center justify-center p-4">
                                <Spinner @loadingMessage={{t "console.account.auth.loading-2fa"}} @wrapperClass="flex flex-row" @iconClass="mr-2" />
                            </div>
                        {{/if}}
                    </div>
                    <Button @type="primary" @buttonType="submit" @text={{t "console.account.auth.save-2fa-settings"}} @icon="save" @onClick={{this.saveTwoFactorAuthSettings}} @isLoading={{this.saveUserTwoFaSettings.isRunning}} />
                </ContentPanel>
            {{/if}}
        </div>
    </div>
    <Spacer @height="500px" />
</Layout::Section::Body>