{{page-title (t "console.account.sidebar.organizations")}}
<Layout::Section::Header @title={{t "console.account.sidebar.organizations"}} />

<Layout::Section::Body class="overflow-y-scroll h-full">
    <div class="container mx-auto h-screen">
        <div class="max-w-3xl my-10 mx-auto space-y-4">
            <div class="flex flex-row justify-end">
                <Button @type="primary" @icon="plus" @text={{t "console.account.organizations.create-organization"}} @onClick={{this.createOrganization}} />
            </div>
            <ContentPanel @title={{t "console.account.organizations.your-organizations"}} @open={{true}} @wrapperClass="bordered-classic">
                <div class="space-y-2">
                    {{#each @model as |organization|}}
                        <div class="grid grid-cols-3 border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-900 rounded-lg px-3 py-2 items-center">
                            <div>
                                <div class="font-semibold">{{organization.name}}</div>
                                <div>{{t "console.account.organizations.member-since"}}: {{format-date organization.joined_at}}</div>
                            </div>
                            <div class="col-span-2 flex flex-row items-center justify-end space-x-2">
                                {{#let (eq organization.owner_uuid this.currentUser.id) as |isOwner|}}
                                    <Button @type="danger" @size="xs" @icon="person-walking-arrow-right" @text={{t "console.account.organizations.leave"}} @onClick={{fn this.leaveOrganization organization}} />
                                    {{#unless (eq this.currentUser.companyId organization.id)}}
                                        <Button @size="xs" @icon="shuffle" @text={{t "console.account.organizations.switch"}} @onClick={{fn this.switchOrganization organization}} />
                                    {{/unless}}
                                    {{#if isOwner}}
                                        <Button @size="xs" @icon="pencil" @text={{t "common.edit"}} @onClick={{fn this.editOrganization organization}} />
                                        <Button @type="danger" @size="xs" @icon="trash" @text={{t "common.delete"}} @onClick={{fn this.deleteOrganization organization}} />
                                    {{/if}}
                                {{/let}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </ContentPanel>
        </div>
    </div>
    <Spacer @height="300px" />
</Layout::Section::Body>